<form class="dawn-sheet sheet-body flexcol">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{document.img}}" data-edit="img" title="{{document.name}}" />
    <div class="header-fields flexcol">
      <input class="charname" name="name" type="text" value="{{document.name}}" placeholder="Name" />
    </div>
  </header>

  <section class="sheet-content">
    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Adversary.Tier"}}</label>
      <input type="number" name="system.tier" value="{{system.tier}}" />
    </div>
  </section>
</form>
