<div class="dawn-sheet sheet-body flexcol">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{document.img}}" data-edit="img" data-action="editImage" title="{{document.name}}" />
    <div class="header-fields flexcol">
      <input class="charname" name="name" type="text" value="{{document.name}}" placeholder="Name" />
      <div class="resource flexrow">
        <label>{{localize "DAWN.Actor.Character.Tier"}}</label>
        <input type="number" name="system.tier" value="{{system.tier}}" min="1" max="6" />
      </div>
    </div>
  </header>

  <fieldset class="attr-roles">
    <legend>{{localize "DAWN.Actor.Character.AttributeRoles"}}</legend>
    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Character.PrimaryAttr"}}</label>
      <select name="system.primaryAttr">
        {{{selectOptions attrOptions selected=system.primaryAttr localize=true}}}
      </select>
    </div>
    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Character.SecondaryAttr"}}</label>
      <select name="system.secondaryAttr">
        {{{selectOptions attrOptions selected=system.secondaryAttr localize=true}}}
      </select>
    </div>
  </fieldset>

  <div class="attributes">
    <div class="attr-points resource flexrow">
      <label>{{localize "DAWN.Actor.Character.AttrPoints"}}</label>
      <span class="attr-points-available{{#if (lt system.attrPointsAvailable 0)}} negative{{/if}}">{{system.attrPointsAvailable}}</span>
      <span class="attr-points-sep">/</span>
      <span class="attr-points-total">{{system.attrPointsTotal}}</span>
    </div>
    <div class="resource flexrow">
      <label data-action="rollAttr" data-attr="body" role="button"><i class="fa-solid fa-dice-d6"></i> {{localize "DAWN.Actor.Character.Body"}}</label>
      <input type="number" name="system.body" value="{{system.body}}" min="{{system.attrMin.body}}" />
    </div>
    <div class="resource flexrow">
      <label data-action="rollAttr" data-attr="talent" role="button"><i class="fa-solid fa-dice-d6"></i> {{localize "DAWN.Actor.Character.Talent"}}</label>
      <input type="number" name="system.talent" value="{{system.talent}}" min="{{system.attrMin.talent}}" />
    </div>
    <div class="resource flexrow">
      <label data-action="rollAttr" data-attr="spirit" role="button"><i class="fa-solid fa-dice-d6"></i> {{localize "DAWN.Actor.Character.Spirit"}}</label>
      <input type="number" name="system.spirit" value="{{system.spirit}}" min="{{system.attrMin.spirit}}" />
    </div>
    <div class="resource flexrow">
      <label data-action="rollAttr" data-attr="mind" role="button"><i class="fa-solid fa-dice-d6"></i> {{localize "DAWN.Actor.Character.Mind"}}</label>
      <input type="number" name="system.mind" value="{{system.mind}}" min="{{system.attrMin.mind}}" />
    </div>
  </div>

  <nav class="sheet-tabs tabs" aria-roledescription="{{localize "SHEETS.FormNavLabel"}}">
    {{#each tabs as |tab|}}
    <a data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
        {{#if tab.cssClass}}class="{{tab.cssClass}}"{{/if}}
        {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
      {{#if tab.icon}}<i class="{{tab.icon}}" inert></i>{{/if}}
      {{#if tab.label}}<span>{{localize tab.label}}</span>{{/if}}
    </a>
    {{/each}}
  </nav>

  <section class="tab{{#if tabs.structured.active}} active{{/if}}" data-group="sheet" data-tab="structured">
    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Character.Health"}}</label>
      <input type="number" name="system.health.value" value="{{system.health.value}}" min="0" max="{{system.health.max}}" />
      <span class="resource-sep">/</span>
      <span class="resource-max">{{system.health.max}}</span>
    </div>

    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Character.Focus"}}</label>
      <input type="number" name="system.focus.value" value="{{system.focus.value}}" min="0" max="{{system.focus.max}}" />
      <span class="resource-sep">/</span>
      <span class="resource-max">{{system.focus.max}}</span>
    </div>

    <div class="resource flexrow">
      <label>{{localize "DAWN.Actor.Character.Speed"}}</label>
      <span class="resource-derived">{{system.speed}}</span>
    </div>

    <fieldset class="wounds">
      <legend>{{localize "DAWN.Actor.Character.Wounds"}}</legend>
      <div class="wounds-row flexrow">
        <label><input type="checkbox" name="system.wound1" {{#if system.wound1}}checked{{/if}} /> {{localize "DAWN.Actor.Character.Wound"}}</label>
        <label><input type="checkbox" name="system.wound2" {{#if system.wound2}}checked{{/if}} /> {{localize "DAWN.Actor.Character.Wound"}}</label>
        <label><input type="checkbox" name="system.wound3" {{#if system.wound3}}checked{{/if}} /> {{localize "DAWN.Actor.Character.Wound"}}</label>
      </div>
    </fieldset>
  </section>

  <section class="tab{{#if tabs.unstructured.active}} active{{/if}}" data-group="sheet" data-tab="unstructured">
  </section>
</div>
